<h1>Tops#index</h1>
<p>Find me in app/views/tops/index.html.erb</p>
<p>ログイン不要、操作ガイドなど、ゲストログイン、signup、signinへのリンク</p>

<div class="field">
  <%= link_to 'ゲストログイン', tops_guest_sign_in_path, method: :post %>
</div>
